@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="name" />
        <br/>
        <button id="btnSend" class="btn btn-sm btn-primary">İsim Ekle</button>
        <div class="alert alert-info">
            Bağlantı Durumu : <strong id="status"></strong>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44342/MyHub").build();

            $("#status").text(connection.connectionState);

            connection.start().then(() => {
                $("#status").text(connection.connectionState);
            }).catch((err) => {
                console.log(err);
            });

            $("#btnSend").click(function () {
                    connection.invoke("SendName", $("#name").val()).then(() => {
                    alert("Mesajınız iletildi");
                }).catch((err) => {
                    console.log(err);
                });
            });

            connection.on("ReceiveName", (name) => {
                console.log(name)
            });
        });
    </script>
}


